<h1 class="textCentre margin20">The Anagram Finder</h1>
<form class="modernFields">
    <input type="text" name="userAnagram" id="userAnagram" placeholder="Enter Anagram Seach" value="" role="textbox" /><!--
 --><input type="submit" name="submit" id="search" value="Search" role="button">
</form>