@using WebMatrix.Data;
@using anagramApp.Classes;
@using AnagramAPI;

@{
    WebSecurity.RequireAuthenticatedUser();

    List<string> result = null;

    if (IsPost && !Request["anagramSearch"].IsEmpty()) {
       
        CurrentUser user = new CurrentUser();
        Searcher wordSearch = new Searcher();
        
        if (!wordSearch.SetList(WebCache.Get("wordList"))) {
            WordHelper.GetAndStoreList();
            wordSearch.SetList(WebCache.Get("wordList"));
        }
        result = wordSearch.GetWord(Request["anagramSearch"], user.AddUserSearch);
    }
}
<section class="margin50" role="region">
    <h1 class="textCentre margin20">The Anagram Finder</h1>
    <form method="post" action="." class="modernFields split" role="form">
        <label for="anagramSearch" class="hidden">Enter an Anagram:</label>
        <input type="search" name="anagramSearch" id="anagramSearch" placeholder="Enter Anagram Seach" value="@Request["anagramSearch"]" role="textbox" /><!--
        --><input type="submit" name="submit" id="search" value="Search" role="button" class="smallSubmit">
    </form>
</section>
@{
    if (result != null || IsPost) {
        <section class="whiteBox" role="region">
            <h2 class="margin10">Words found for anagram: @Request["anagramSearch"]</h2>
            @WordHelper.OutputWords(result)
        </section>
    }
}
