<header id="topHeader" class="clear" role="banner">
    <a href="#content" id="skip" role="link">Skip Navigation - Go to Content</a>
    <div id="logo" class="verticalCentre">
        <a href="/" id="websiteTitle" class="verticalCentreElem">FinderGram 2.0</a>
    </div>
    <nav role=navigation class="verticalCentre">
        @General.UserMenu()
    </nav>
</header>