<header id="topHeader" class="clear">
    <a href="#Content" id="skip" role="link">Skip Navigation - Go to Content</a>
    <div id="logo" class="verticalCentre">
        <a href="/" id="websiteTitle" class="verticalCentreElem">FinderGram 2.0</a>
    </div>
    <nav>
        <ul>
            <li>

            </li>
        </ul>
    </nav>
</header>