
@functions{
    public static bool ValidToken(){
        bool valid = false;
            try{
                AntiForgery.Validate();
                valid = true;
            }
            catch(Exception ex){
                valid = false;
            }
        return valid;
    }
}

@helper UserMenu() {
    if (WebSecurity.IsAuthenticated) {
        <ul class="verticalCentreElem">
            <li>
                <a href="~/" title="View your account info" role="link">Account</a>
            </li>
            <li>
                <a href="~/Account/Logout" title="Logout of your Account" role="link">Logout</a>
            </li>
        </ul>
    }
}
